body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
header {
    font-size: 100px;
    font-weight: 700;
    height: 150px;
    text-align: center;
    background-color: bisque
}
header img {
    width: 150px;
    height: 150px;
}

h1 {
    text-align: center;
    background-color: lightgray;
    font-size: 36px;
    margin: 0;
    padding: 20px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    border: 1px solid black;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
span {
    font-weight: bold;
    text-transform: capitalize;
}

p, ul , p{
    padding: 0 2px;
    font-size: 20px;
    margin: 10px 0px;
    font-family: Verdana,sans-serif;
}

dl {
    padding: 0 20px;
    font-size: 24px;
}

section a {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 12px 36px;
    vertical-align: middle;
    overflow: hidden;
    background-color: #04AA6D;
    color: #ffffff;
}


.header-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    height: auto;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: #04AA6D;
    color: #ffffff;
}

.column-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px 20px;
    gap: 16px;
    background-color: rgb(236, 245, 248);
    padding-bottom: 10px;
}

.column-para * {
    max-width: 1000px;
}

.links-style {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(242, 215, 179);
    margin: 0;
}

.links-style a{
    text-decoration-line: none;
    color: chocolate;
}

ul {
    list-style-type: none;
}

.links-style li {
    font-size: 30px;
    font-weight: bold;
    background-color: bisque;
    border: 1px solid rgb(187, 163, 118);
}

.links-style a:hover {
        color: black;
        font-size: 32px;
}

.list-style {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    list-style-type: square;
}

.chapters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: rgb(242, 215, 179);
    margin: 0;
}

.chapters a{
    text-decoration-line: none;
    color: #161d1e;
    margin: 
}

.chapters li {
    font-size: 22px;
    font-weight: bold;
    background-color: bisque;
    border: 1px solid rgb(187, 163, 118);
    padding: 10px;
}

.chapters a:hover {
        color: rgb(236, 49, 49);
        font-size: 24px;
}

.chapters a:visited {
    color: darkcyan;
}

.titles p{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    background-color: rgb(236, 189, 132);
    text-decoration: underline;
}